.socials {
  a {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;

    &:not(:last-child) {
      margin-right: 20px;
    }

    svg {
      width: 32px;
      // height: 36px;
      fill: var(--color-half);

      &:hover {
        fill: var(--color-primary);
      }
    }
  }
}
