@import '../../styles/variables.scss';

.card {
  padding: 4rem 0;
  border-bottom: 1px solid rgb(222, 222, 222);

  .profile {
    @include mq(md) {
      display: flex;
      justify-content: space-evenly;
      text-align: left;
    }

    text-align: center;

    .portrait {
      border-radius: 50%;
    }

    .info {
      font-size: 0.9em;

      .socials {
        a {
          display: inline-block;
          width: 32px;
          height: 32px;
          line-height: 32px;
          text-align: center;

          &:not(:last-child) {
            margin-right: 20px;
          }

          svg {
            width: 32px;
            // height: 36px;
            fill: var(--color-half);

            &:hover {
              fill: var(--color-primary);
            }
          }
        }
      }
    }
  }
}
