@import '../../styles/variables.scss';

.card {
  padding-bottom: 4em;
  border-bottom: 1px solid var(--color-quarter);

  .profile {
    @include mq(md) {
      display: flex;
      justify-content: space-evenly;
      text-align: left;
    }

    text-align: center;

    .portrait {
      border-radius: 50%;
    }

    .info {
      font-size: 0.9em;
    }
  }
}
