.share {
  padding: 64px 0;
  text-align: center;
  border-bottom: 1px solid rgb(222, 222, 222);

  button {
    padding: 0;
    cursor: pointer;
  }

  a,
  button {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin: 0 16px;
    background-color: #fff;
    // border: 1px solid rgb(222, 222, 222);
    // border-radius: 50%;

    svg {
      width: 48px;
      height: 48px;
    }

    &:hover {
      // svg {
      //   fill: var(--color-primary);
      // }
      background-color: rgb(222, 222, 222);
    }
  }
}
