@import '../../styles/variables.scss';

.share {
  padding: 64px 0;
  margin-bottom: 64px;
  text-align: center;
  border-bottom: 1px solid var(--color-quarter);

  button {
    cursor: pointer;
  }

  a,
  button {
    display: inline-block;
    width: var(--circle-size);
    height: var(--circle-size);
    padding: calc(var(--circle-size) / 4);
    text-align: center;
    background-color: #fff;
    border: 1px solid var(--color-quarter);
    border-radius: 50%;
    box-shadow: 0 2px 5px -2px var(--color-shade);

    &:not(:last-child) {
      @include mq(md) {
        margin-right: calc(var(--circle-size) / 2);
      }

      margin-right: calc(var(--circle-size) / 4);
    }

    &:hover {
      background-color: var(--color-background);
      box-shadow: none;
    }
  }
}

.tooltip {
  position: relative;
}

.tooltipText {
  position: absolute; /* 絶対配置 */
  bottom: -30px; /* 親要素下からの位置 */
  left: 50%; /* 親に対して中央配置 */
  display: inline-block;
  padding: 5px; /* 余白 */
  font-size: 0.8rem; /* フォントサイズ */
  line-height: 1.3; /* 行間 */
  color: #fff; /* 文字色 */
  white-space: nowrap; /* テキストを折り返さない */
  visibility: hidden; /* はじめは隠しておく */
  background: #333; /* 背景色 */
  border-radius: 3px; /* 角丸 */
  opacity: 0; /* はじめは隠しておく */
  transition: 0.3s ease-in; /* アニメーション */
  transform: translateX(-50%); /* 親に対して中央配置 */
}
