@import '../../styles/variables.scss';

.share {
  padding: 64px 0;
  margin-bottom: 64px;
  text-align: center;
  border-bottom: 1px solid var(--color-quarter);

  button {
    cursor: pointer;
  }

  a,
  button {
    display: inline-block;
    width: var(--circle-size);
    height: var(--circle-size);
    padding: calc(var(--circle-size) / 4);
    text-align: center;
    background-color: #fff;
    border: 1px solid var(--color-quarter);
    border-radius: 50%;
    box-shadow: 0 2px 5px -2px var(--color-shade);

    &:not(:last-child) {
      @include mq(md) {
        margin-right: calc(var(--circle-size) / 2);
      }

      margin-right: calc(var(--circle-size) / 4);
    }

    &:hover {
      background-color: var(--color-background);

      // svg {
      //   fill: var(--color-primary);
      // }

      box-shadow: none;
    }
  }
}
