.content {
  margin: 64px 0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 64px 0 32px 0;
  }

  p {
    margin: 32px 0;
  }

  pre {
    overflow: auto;
  }

  :not(pre) > code {
    background-color: rgb(232, 237, 239);
    // color: rgb(186, 85, 133);

    &::after,
    &::before {
      content: '`';
    }
  }
}

.toIndex {
  margin: {
    bottom: 128px;
  }
}
