.content {
  margin: 64px 0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 64px 0 32px 0;
  }

  p {
    margin: 32px 0;
  }

  pre {
    overflow: auto;
  }

  :not(pre) > code {
    background-color: rgb(232, 237, 239);
    // color: rgb(186, 85, 133);

    &::after,
    &::before {
      content: '`';
    }
  }
}

.toIndex {
  margin: {
    bottom: 128px;
  }
}

.preview {
  padding: 32px;
  // background-color: rgb(16, 69, 118);
  // background-color: var(--color-primary);
  background-color: rgb(223, 223, 223);

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--max-width);
    margin: 0 auto;
    // color: var(--color-background);
    // text-align: center;

    a {
      padding: 8px;
      // margin-left: 32px;
      border: 1px solid currentColor;
      border-radius: 0.2rem;
    }
  }
}
