.title {
  font-size: 2em;
}

.date {
  font-family: var(--font-mono);
}

.content {
  margin: 64px 0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 64px 0 32px 0;
  }

  p {
    margin: 32px 0;
  }

  code {
    font-family: var(--font-mono);
  }

  pre {
    overflow: auto;

    code {
      font-size: 14px;
    }
  }

  :not(pre) > code {
    background-color: rgb(243, 244, 246);
    // color: rgb(186, 85, 132);

    &::after,
    &::before {
      content: '`';
    }
  }
}

.toIndex {
  text-align: center;
  margin: {
    bottom: 128px;
  }
}

.preview {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 32px;
  // background-color: rgb(16, 69, 118);
  // background-color: var(--color-primary);
  background-color: rgb(223, 223, 223);
  opacity: 0.9;

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--max-width);
    margin: 0 auto;
    // color: var(--color-background);
    // text-align: center;

    a {
      padding: 8px;
      // margin-left: 32px;
      border: 1px solid currentColor;
      border-radius: 0.2rem;
    }
  }
}
