.post {
  margin: 32px 0;

  a {
    color: var(--color-primary);
  }

  a:hover {
    color: var(--color-anchor);
  }

  h1 {
    margin: 16px 0;
  }
}

.date {
  display: flex;
  align-items: center;
}

.date::after {
  flex-grow: 1;
  width: 3em;
  height: 1px;
  content: '';
  border-bottom: 1px solid;
  margin: {
    left: 0.5rem;
  }
}
