.header {
  height: 123px;
  text-align: center;

  svg {
    margin: {
      top: 32px;
    }

    width: 42px;
    height: 42px;
    fill: currentColor;
  }
}

.title {
  font-size: 18px;
  font-weight: normal;
  letter-spacing: var(--letter-space);
}
