.header {
  height: 160px;
  text-align: center;

  svg {
    margin: {
      top: 32px;
    }

    width: 48px;
    height: 48px;
    fill: currentColor;
  }
}

.title {
  font-size: 18px;
  font-weight: normal;
  text-indent: var(--letter-space);
  letter-spacing: var(--letter-space);
}
