.outerHeader {
  height: 192px;
  padding: 64px 0;
  
  .innerHeader {
    max-width: var(--max-width);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    div {
      height: 48px;
      font-size: 16px;
      line-height: 48px;
      display: flex;
      text-indent: var(--letter-space);
      letter-spacing: var(--letter-space);
      h1 {
        padding-left: 12px;
        font-size: 16px;
        margin: 0;
        font-weight: normal;

      }
  
      svg {  
        width: 48px;
        height: 48px;
        fill: currentColor;
      }
    }
  }

}

