.footer {
  max-width: var(--max-width);
  margin: 6em auto;
  border-top: 1px solid var(--color-quarter);

  .copyright {
    padding: 64px 0;
    font-size: 0.8em;
    color: rgb(104, 104, 104);
    text-align: center;
  }
}
