.post {
  margin-top: 64px;

  a {
    color: var(--color-primary);
  }

  a:hover {
    color: var(--color-half);
    text-decoration: none;
  }

  h1 {
    margin: 24px 0;
  }
}

.date {
  display: flex;
  align-items: center;
  font-family: var(--font-mono);
  // color: var(--color-border);
  // font-size: 0.rem;
}

.date::after {
  flex-grow: 1;
  width: 3em;
  height: 1px;
  content: '';
  border-bottom: 1px solid;
  margin: {
    left: 0.5rem;
  }
}
