@import '../../styles/variables.scss';

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 5rem;
  padding: 0;
  margin: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px  rgba(0, 0, 0, 0.5);

  nav {
    max-width: var(--max-width);
    margin: 0 auto;

    ul {
      display: flex;
      margin: auto 0;

      li {
        width: 25%;
        // font-family: var(--font-mono);
        font-size: 1rem;
        line-height: 5rem;
        text-align: center;

        @include mq(md) {
          text-indent: var(--letter-space);
          letter-spacing: var(--letter-space);
        }

        a {
          display: block;
          color: var(--color-primary);

          &:hover {
            color: var(--color-half);
            text-decoration: none;
          }
        }
      }
    }
  }
}
